classes/META-INF/WebServiceUTSJR.asmx.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="polizas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuarioContPaq" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwordContPaq" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaPoliza" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ConceptoPoliza" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TipoPoliza" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MovimientosPoliza" type="tns:Movimientos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Movimientos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="numero" type="tns:ArrayOfAnyType" />
          <s:element minOccurs="0" maxOccurs="1" name="concepto" type="tns:ArrayOfAnyType" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoMovimiento" type="tns:ArrayOfAnyType" />
          <s:element minOccurs="0" maxOccurs="1" name="importeMovimiento" type="tns:ArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="polizasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="polizasResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="polizasSoapIn">
    <wsdl:part name="parameters" element="tns:polizas" />
  </wsdl:message>
  <wsdl:message name="polizasSoapOut">
    <wsdl:part name="parameters" element="tns:polizasResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceUTSJRSoap">
    <wsdl:operation name="polizas">
      <wsdl:input message="tns:polizasSoapIn" />
      <wsdl:output message="tns:polizasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceUTSJRSoap" type="tns:WebServiceUTSJRSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="polizas">
      <soap:operation soapAction="http://tempuri.org/polizas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceUTSJRSoap12" type="tns:WebServiceUTSJRSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="polizas">
      <soap12:operation soapAction="http://tempuri.org/polizas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceUTSJR">
    <wsdl:port name="WebServiceUTSJRSoap" binding="tns:WebServiceUTSJRSoap">
      <soap:address location="http://localhost/AplicacionUTSJR/AplicacionUTSJR/WebService/WebServiceUTSJR.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceUTSJRSoap12" binding="tns:WebServiceUTSJRSoap12">
      <soap12:address location="http://localhost/AplicacionUTSJR/AplicacionUTSJR/WebService/WebServiceUTSJR.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>